@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #2F303A;
    --accent-color: #2196F3;
    --transperent-color: #FFFFFF99;
    --inactive-filter-color: #F5F4FA;
    --shadow-color: rgba(0, 0, 0, 0.15);
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.28px;
    margin: 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

button {
    border: 0px;
    border-radius: 4px;
}

button:focus {
    outline: none;
    border: 1px solid var(--accent-color);
}

h1, h2, h3, p, ul, li {
    padding: 0;
    margin: 0;
}

/* HEADER */

.header {
    background-color: var(--background-primary-color);
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.78px;
    color: var(--primary-color);
    text-decoration: none;
    margin-right: 93px;
}
.contact-info {
    margin-left: auto;
    display: flex;
    gap: 40px;
    color: var(--secondary-color);
}

.navigation-list {
    display: flex;
    gap: 50px;
}

.contact-info,
.navigation-list {
    list-style-type: none;
}

.navigation-button,
.navigation-button-active {
    display: inline-block;
    padding: 32px 0;
}

.tel,
.email,
.navigation-button{
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.28px;
    color: inherit;
    text-decoration: none;
}
.navigation-button-active{
    color: var(--accent-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.tel:hover,
.tel:focus,
.email:hover,
.email:focus,
.accent-text-logo,
.navigation-button:hover,
.navigation-button:focus{
    color: var(--accent-color);
    transition: all 0.3s;
}

/* MAIN */

.hero {
    background-color: var(--background-secondary-color);
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    width: 696px;
    margin-bottom: 40px;
    color: var(--background-primary-color);
    text-transform: uppercase;
    text-align: center;
}

.hero-button {
    border-radius: 4px;
    padding: 10px 24px;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.96px;
    cursor: pointer;
    background-color: var(--accent-color);
    color: var(--background-primary-color);
    box-shadow: 0px 4px 4px 0px var(--shadow-color);
}

.main-content {
    padding-top: 93px;
}

.feature {
    max-width: 270px;
    flex-shrink: 0;
}

.feature-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.feature-label {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.42px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.feature-description {
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-size: 14px;
    color: var(--secondary-color);
}

.development {
    padding: 94px 0;
}

.team-header,
.dev-stack-header {
    line-height: 1.17;
    letter-spacing: 1.08px;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

.dev-stack-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.team-list,
.feature-list,
.dev-stack-list {
    list-style-type: none;
}

.team-section {
    background-color: var(--inactive-filter-color);
    padding: 94px 0;
}

.team-list {
    display: flex;
    gap: 30px;
}

.employee {
    background-color: var(--background-primary-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.employee img {
    width: 270px;
    height: 260px;
}

.employee-name-job {
    padding-top: 30px;
    padding-bottom: 30px;
}

.employee-name,
.employee-job {
    padding-bottom: 10px;
    font-size: 16px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.48px;
    display: flex;
    justify-content: center;
    color: var(--primary-color);
}

.employee-job {
    color: var(--secondary-color);
}

/* FOOTER */

.footer {
    background-color: var(--background-secondary-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    color: var(--background-primary-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
}

.accent-text-footer-logo {
    color: var(--accent-color);
}

.studio-address {
    line-height: 1.14;
    letter-spacing: 0.42px;
    font-size: 14px;
    color: var(--background-primary-color);
}

.contact-address {
    margin-top: 28px;
}

.contact-info-footer {
    all: initial;
    font-family: inherit;
    flex-direction: column;
}

.contact-info-footer li:not(:first-child) {
    margin-top: 12px;
}

.tel-footer,
.email-footer {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-decoration: none;
    color: var(--transperent-color);
}

/* PORTFOLIO-MAIN */

.project-area {
    padding: 94px 0;
}

.filter-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

.project-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
}

.filter{
    gap: 30px;
    padding: 6px 22px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.48px;
    text-align: center;
    cursor: pointer;
    font-family: inherit;
    background-color: var(--inactive-filter-color);
    color: var(--primary-color);
}

.filter:hover,
.filter:focus {
    color: var(--background-primary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    transition: all 0.3s;
}

.project {
    background-color: var(--background-primary-color);
    text-decoration: none;
}

.project img {
    display: block;
}

.project-list li {
    display: flex;
    flex-direction: column;
    border: 1px solid #EEE;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.08px;
    color: var(--primary-color);
}

.project-description {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
    color: var(--secondary-color);
}

.project-details {
    padding: 20px 24px;
}