@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

:root {
    --primary-color: #212121;
    --secondary-color: #757575;
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #2F303A;
    --accent-color: #2196F3;
    --transperent-color: #FFFFFF99;
    --inactive-filter-color: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.28px;
}

a {
    color: inherit;
    text-decoration: none;
    }

/* HEADER */

.header {
    background-color: var(--background-primary-color);
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.78px;
    color: var(--primary-color);
    text-decoration: none;
}
.contact-info {
    color: var(--secondary-color);
}

.contact-info,
.navigation-list {
    list-style-type: none;
}

.tel,
.email,
.navigation-button{
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.28px;
    color: inherit;
    text-decoration: none;
}
.navigation-button-active{
    color: var(--accent-color);
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.28px;
    text-decoration: none;
}

.tel:hover,
.tel:focus,
.email:hover,
.email:focus,
.accent-text-logo,
.navigation-button:hover,
.navigation-button:focus{
    color: var(--accent-color);
    transition: all 0.3s;
}

/* MAIN */

.hero {
    background-color: var(--background-secondary-color);
}

.hero-header {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
    color: var(--background-primary-color);
    text-transform: uppercase;
    text-align: center;
}

.hero-button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.96px;
    cursor: pointer;
    text-align: center;
    background-color: var(--accent-color);
    color: var(--background-primary-color);
}

.feature-label {
    font-size: inherit;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.feature-description {
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-size: 14px;
    color: var(--secondary-color);
}

.team-header,
.dev-stack-header {
    line-height: 1.17;
    letter-spacing: 1.08px;
    font-weight: 700;
    font-size: 36px;
}

.team-list,
.feature-list,
.dev-stack-list {
    list-style-type: none;
}

.employee {
    background-color: var(--background-primary-color);
}

.employee-name {
    line-height: 1.17;
    letter-spacing: 0.48px;
    font-weight: 500;
    font-size: 16px;
}

.employee-job {
    line-height: 1.17;
    letter-spacing: 0.48px;
    color: var(--secondary-color);
    font-size: 16px;
}

/* FOOTER */

.footer {
    background-color: var(--background-secondary-color);
}

.footer-logo {
    color: var(--background-primary-color);
    text-decoration: none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
}

.accent-text-footer-logo {
    color: var(--accent-color);
}

.studio-address {
    line-height: 1.14;
    letter-spacing: 0.42px;
    font-size: 14px;
    color: var(--background-primary-color);
}

.contact-info-footer {
    all: initial;
    font-family: inherit;
}

.tel-footer,
.email-footer {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-decoration: none;
    color: var(--transperent-color);
}

/* PORTFOLIO-MAIN */

.filter-list,
.project-list {
    list-style-type: none;
}

.filter{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.48px;
    text-align: center;
    cursor: pointer;
    background-color: var(--inactive-filter-color);
    color: var(--primary-color);
}

.filter:hover,
.filter:focus {
    color: var(--background-primary-color);
    background-color: var(--accent-color);
    transition: all 0.3s;
}

.project {
    background-color: var(--background-primary-color);
    text-decoration: none;
}

.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.08px;
    color: var(--primary-color);
}

.project-description {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.48px;
    color: var(--secondary-color);
}