.footer {
    background-color: getColor(background-secondary-color);
    padding-top: 60px;
    padding-bottom: 60px;

    &__contacts {
        text-align: center;

        @include match(tablet) {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
        }
  
        @include match(desktop) {
          flex-wrap: nowrap;
          text-align: start;
          align-items: baseline;
          justify-content: space-between;
          gap: 94px;
        }
    }

    &__info {
      //flex-basis: calc((100% - 60px)/2);
      margin-bottom: 60px;
      text-align: center;
    
      @include match(tablet) {
        flex-basis: 50%;
        margin-left: 0px;
        margin-right: 0px;
      }
    
      @include match(desktop) {
        flex-basis: content;
        margin-bottom: 0px;
        text-align: start;
      }
    }

    &__social {
        margin-bottom: 60px;

        @include match(tablet) {
            flex-basis: 50%;
            margin-bottom: 0px;
            margin-left: 0px;
            margin-right: 0px;
          }
    
          @include match(desktop) {
            flex-basis: content;
            margin-bottom: 0px;
          }
    }

    &__newsletter{
        flex-grow: 1;
    }

    &__logo {
        color: getColor(background-primary-color);
        text-decoration: none;
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px; 
    }

    &__text-footer-logo {
        color: getColor(accent-color);
    }

    &__contact-address {
        margin-top: 28px;
    }

    &__contact-info {
        all: initial;
        font-family: inherit;
        flex-direction: column;
        text-align: center;

        @include match(desktop) {
            text-align: start;
        }
    }

    &__contact-info li {
        list-style-type: none;
    }
    
    &__contact-info li:not(:first-child) {
        margin-top: 12px;
    }
    
    &__studio-address {
        line-height: 1.14;
        letter-spacing: 0.42px;
        font-size: 14px;
        color: getColor(background-primary-color);
    }

    &__email,
    &__tel {
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-decoration: none;
        color: getColor(transperent-color);
    }

    &__title {
        margin-bottom: 20px;
        color: getColor(background-primary-color);
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    &__newsletter-title {
        margin-bottom: 20px;
        color: getColor(background-primary-color);
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
    }

    &__form{
        // min-width: 450px;
        display: flex;
        flex-direction: column;

        @include match(desktop) {
            flex-direction: row;
        }
    }
    
    &__form-input {
        padding-left: 16px;
        padding-bottom: 15px;
        padding-top: 15px;
    
        flex-grow: 1;
        font-size: 16px;
        line-height: 125%;
        letter-spacing: 0.48px;
        
        min-width: 100%;
        margin: 0 0 20px 0;
    
        max-height: 50px;
        border-radius: 4px;
        background-color: rgba(33, 150, 243, 0.00);
        border: 1px solid rgba(255, 255, 255, 0.30);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: getColor(background-primary-color);

        @include match(mobile) {
            margin: 0 auto 20px auto;
            min-width: none;
            max-width: 450px;
        }
        @include match(tablet) {
            min-width: 450px;
        }
        @include match(desktop) {
            max-width: 358px;
            min-width: 1px;
            margin: 0;
        }
    }
    
    &__form-button {
        max-width: 200px;
        margin: 0;

        font-weight: 700;
        font-size: 16px;
        line-height: 187.5%;
        letter-spacing: 0.96px;
        color: getColor(background-primary-color);
        background: getColor(accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;
        border: none;
        cursor: pointer;
    
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: auto;
        padding-left: auto;
        position: relative;
    
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            background: #188CE8;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        }
        @media screen and (max-width: 235px) {
            justify-content: center;
        }
        @media screen and (min-width: 236px) and (max-width: 479px) {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 28px;
            padding-left: 28px;
            margin: 0 auto;
        }
        @include match(mobile) {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 28px;
            padding-left: 28px;
            margin: 0 auto;
        }
        @include match(desktop) {
            margin-left: 12px;
        }
    }

    &__button-text {
        padding-left: 2.5px;
        padding-right: 2.5px;
    }
    
    &__form-icon {
        fill: getColor(background-primary-color);
        width: 24px;
        height: 24px;
        margin-left: 10px;

        display: none;
        @media screen and (min-width: 186px){
            display: flex;
        }
    }
}