.header {
    .container {
        display: flex;
        align-items: center;
    }

    background-color: getColor(background-primary-color);
    border-bottom: 1px solid #ECECEC;

    &__navigation-list {
        list-style-type: none;
        display: flex;
        gap: 50px;
    }

    &__navigation-button {
        display: inline-block;
        padding: 32px 0;
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.28px;
        color: inherit;
        text-decoration: none;

        &:hover,
        &:focus {
            transition: all 0.3s;
            color: getColor(accent-color);
            fill: getColor(accent-color);
        }
    }

    &__navigation-button-active {
        position: relative;
        display: inline-block;
        padding: 32px 0;
        color: getColor(accent-color);
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.28px;
        text-decoration: none;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            bottom: -1px;
            background-color: getColor(accent-color);
        }
    }

    &__contact-info {
        margin-left: auto;
        display: flex;
        gap: 40px;
        color: getColor(secondary-color);
        list-style-type: none;
    }

    &__email {
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.28px;
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        fill: getColor(secondary-color);

        &:focus,
        &:hover {
            transition: all 0.3s;
            color: getColor(accent-color);
            fill: getColor(accent-color);
        }
    }

    &__email-icon {
        margin-right: 10px;

        &:hover {
            transition: all 0.3s;
            color: getColor(accent-color);
            fill: getColor(accent-color);
        }
    }

    &__tel {
        font-weight: 500;
        line-height: 1.17;
        letter-spacing: 0.28px;
        color: inherit;
        text-decoration: none;
        display: flex;
        align-items: center;
        fill: getColor(secondary-color);

        &:hover,
        &:focus {
            transition: all 0.3s;
            color: getColor(accent-color);
            fill: getColor(accent-color);
        }
    }

    &__phone-icon {
        margin-right: 10px;

        &:hover {
            transition: all 0.3s;
            color: getColor(accent-color);
            fill: getColor(accent-color);
        }
    }
}