.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.78px;
    color: getColor(primary-color);
    text-decoration: none;
    padding-top: 15px;
    padding-bottom: 15px;

    @include match(tablet){
        margin-right: 88px;
    }
    @include match(desktop) {
        margin-right: 93px;
        font-size: 26px;
    }

    &__accent-text {
        transition: all 0.3s;
        color: getColor(accent-color);
        fill: getColor(accent-color);
    }
}