.development {
    padding: 94px 0;

    &__dev-stack-header {
        line-height: 1.17;
        letter-spacing: 1.08px;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__dev-stack-list {
        display: flex;
        justify-content: center;
        gap: 30px;
        list-style-type: none;
    }

    &__dev-stack-list-item {
        position: relative;
    }

    &__item-photo-description {
        position: absolute;
        bottom: 1%;
        width: 100%;
        padding: 27px 0px;
        background-color: rgba(47, 48, 58, 0.8);
    
        font-weight: 700;
        text-align: center;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        color: var(--background-primary-color);
    }
}