.hero {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/Img.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @include match(retina) {
        padding: 118px 0;
        //image path
    }

    @include match(tablet) {
        padding: 118px 0;
        //image path
        @include match(retina) {
            //image path
        }
    }

    @include match(desktop) {
        padding: 200px 0;
        //image path
        @include match(retina) {
            //image path
        }
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__header {
        color: var(--white);
        text-align: center;
        font-size: 26px;
        font-weight: 900;
        line-height: 161.54%;
        letter-spacing: 1.56px;
        text-transform: uppercase;
        max-width: 360px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        color: getColor(background-primary-color);

        @include match(desktop) {
            max-width: 696px;
            font-size: 44px;
            font-weight: 900;
            line-height: 136.36%;
            letter-spacing: 2.64px;
          }
    }

    &__button {
        border-radius: 4px;
        padding: 10px 24px;
        margin: auto;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.96px;
        cursor: pointer;
        background-color: getColor(accent-color);
        color: getColor(background-primary-color);
        box-shadow: 0px 4px 4px 0px getColor(shadow-color);

        &:hover,
        &:focus {
            background-color: #188CE8;
        }
    }
}